img,
ul {
    width: 90%;
}

p {
    width: 90%;
    text-align: center;
}

.hidden {
    display: none;
}

body {
    background-color: rgb(246, 8, 8);
}

button {
    width: 18%;
    background: linear-gradient(150deg, rgb(96, 94, 94), white, rgb(190, 186, 186));
    margin: 1px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    color: white;
    stroke: black;
    stroke-width: 5px;
}